set_io Tile_X10Y1_A Tile_X10Y1.A
set_io Tile_X10Y1_B Tile_X10Y1.B
set_io Tile_X10Y1_C Tile_X10Y1.C
set_io Tile_X10Y1_D Tile_X10Y1.D
set_io Tile_X10Y1_E Tile_X10Y1.E
set_io Tile_X10Y1_F Tile_X10Y1.F
set_io Tile_X10Y1_G Tile_X10Y1.G
set_io Tile_X10Y1_H Tile_X10Y1.H
set_io Tile_X10Y1_I Tile_X10Y1.I
set_io Tile_X10Y1_J Tile_X10Y1.J
set_io Tile_X10Y1_K Tile_X10Y1.K
set_io Tile_X10Y2_A Tile_X10Y2.A
set_io Tile_X10Y2_B Tile_X10Y2.B
set_io Tile_X10Y2_C Tile_X10Y2.C
set_io Tile_X10Y2_D Tile_X10Y2.D
set_io Tile_X10Y2_E Tile_X10Y2.E
set_io Tile_X10Y2_F Tile_X10Y2.F
set_io Tile_X10Y2_G Tile_X10Y2.G
set_io Tile_X10Y2_H Tile_X10Y2.H
set_io Tile_X10Y2_I Tile_X10Y2.I
set_io Tile_X10Y2_J Tile_X10Y2.J
set_io Tile_X10Y2_K Tile_X10Y2.K